version: '3'
services:
  postgres:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: kamurj_db
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
